<div class="row" style="margin-top: 20px;">
  <div class="col justify-content-center text-center">

    <h1>
      UFRJ
    </h1>
    <!--  <img width="300" alt="Angular Logo" class="img-responsive" routerLink ="/prefacio"
       src="  https://d1u5p3l4wpay3k.cloudfront.net/overwatch_gamepedia/thumb/9/9b/Wrecking_Ball.png/350px-Wrecking_Ball.png?version=dd0363f18e3ffda5661813e6bad28e08
       ">-->
    <img width="300" alt="UFRJ" class="img-responsive" routerLink ="/prefacio"
         src="https://comoesquecer.files.wordpress.com/2010/07/ufrj-minerva_oficial_nova.jpg">
    <h3 class="">Plataforma Virtual de Treinamento</h3>

  </div>
</div>
