<div class="row" style="margin-top: 40px;">
  <div class="col justify-content-center text-center">

    <h1>
      Sejam Bem vindos!
    </h1>
    <!--  <img width="300" alt="Angular Logo" class="img-responsive" routerLink ="/prefacio"
       src="  https://d1u5p3l4wpay3k.cloudfront.net/overwatch_gamepedia/thumb/9/9b/Wrecking_Ball.png/350px-Wrecking_Ball.png?version=dd0363f18e3ffda5661813e6bad28e08
       ">-->
    <img alt="Hamster" class="img-responsive img-round-border" routerLink ="/indice"
         src="../../assets/images/Capa do aplicativo.svg">

    <h2 class="">Clique na imagem para começar</h2>

  </div>
</div>
